<?xml version="1.0"?>
<config>
    <modules>
        <Wiseboost_General>
            <version>2.0</version>
        </Wiseboost_General>
    </modules>
    <global>
        <blocks>
            <wiseboostgeneral>
                <class>Wiseboost_General_Block</class>
            </wiseboostgeneral>
        </blocks>
        <resources>
            <wiseboostgeneral_setup>
                <setup>
                    <module>Wiseboost_General</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wiseboostgeneral_setup>
            <wiseboostgeneral_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wiseboostgeneral_write>
            <wiseboostgeneral_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wiseboostgeneral_read>
        </resources>
        <models>
            <wiseboostgeneral>
                <class>Wiseboost_General_Model</class>
            </wiseboostgeneral>
        </models>
        <helpers>
            <wiseboostgeneral>
                <class>Wiseboost_General_Helper</class>
            </wiseboostgeneral>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <wiseboostgeneral>
                        <type>singleton</type>
                        <class>wiseboostgeneral/feed</class>
                        <method>check</method>
                    </wiseboostgeneral>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <wiseboostgeneral>
            <feed>
                <url>www.wiseboost.com/?feed=rss2&amp;cat=12</url>
                <use_https>0</use_https>
                <frequency>24</frequency>
                <enable>1</enable>
            </feed>
        </wiseboostgeneral>
    </default>
</config>