<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Wiseboost
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Wiseboost
 * @package     Wiseboost_WishlistCounter
 * @copyright   Copyright (c) 2013 Wiseboost. (http://www.wiseboost.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Wiseboost_WishlistCounter>
            <version>0.1.0</version>
        </Wiseboost_WishlistCounter>
    </modules>
    <global>
        <helpers>
            <wiseboost_wishlistcounter>
                <class>Wiseboost_WishlistCounter_Helper</class>
            </wiseboost_wishlistcounter>
        </helpers>
        <models>
            <wiseboost_wishlistcounter>
                <class>Wiseboost_WishlistCounter_Model</class>
            </wiseboost_wishlistcounter>
        </models>
    </global>
    <frontend>
        <events>
            <catalog_product_load_after>
                <observers>
                    <wiseboost_wishlistcounter>
                        <type>singleton</type>
                        <class>Wiseboost_WishlistCounter_Model_Observer</class>
                        <method>catalogProductLoadAfter</method>
                    </wiseboost_wishlistcounter>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <wiseboost_wishlistcounter>
                        <type>singleton</type>
                        <class>Wiseboost_WishlistCounter_Model_Observer</class>
                        <method>catalogProductCollectionLoadAfter</method>
                    </wiseboost_wishlistcounter>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>
</config>